<div class="m-3">
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="m-3">
  <%= f.text_area :description, class: 'form-control', rows: 3 %>
</div>
<div class="m-3">
  <%= f.submit class: 'btn btn-primary' %>
</div>
