<div id=<%= "task_toggle_#{task.id}" %>>
  <%= form_for [@pet, task] do |form| %>
    <div class='form-group'>
      <div class="form-check">
        <%= form.check_box :completed, 
                          { class: "form-check-input",  
                          onclick: "this.form.requestSubmit()"} %>
      </div>
    </div>
  <% end %>
</div>