<section class="pt-5 pb-5" id="about_us">
        <div class="container mb-md-5 mt-md-5">
            <div class="text-center mb-5">
              <h1 class="section-heading text-uppercase underline">
                About us
              </h1>
            </div>
            <div>
                <div class="row pb-md-5">
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <img class="img-fluid rounded-5" src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="placeholder">
                    </div>
                    <div class="col-md-6 ps-4">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                        <p>
                    </div>
                </div>
                <div class="row pb-md-5">
                    <div class="col-md-6 ps-4 ps-md-0">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                        <p>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img class="img-fluid rounded-5" src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="placeholder">
                    </div>
                </div>
            </div>
        </div>
</section>