<!--page heading-->
<header class="pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        Sign Up
      </h1>
    </div>
  </div> <!--container-->
</header>

<section class="pb-5" id="account_select">
  <div class="container mb-md-5 md-5">
    <!--progress diagram-->
    <%= render partial: 'shared/progress_bar', locals: { page: 'select' } %>

    <!--main section-->
    <div class="text-center">
      <h4 class="mb-3">Select an account type</h4>
      <div class="row">
        <div class="col-md-6 mx-auto card p-5">

          <!--adopter-->
          <div> 
              <%= link_to 'Adopter', 
                  new_user_registration_path(account_type: 'adopter'), 
                  class: 'btn btn-outline-dark mt-2 mb-5' %>
          </div>

          <!--staff-->
          <div>
              <%= link_to 'Staff', 
                  new_user_registration_path(account_type: 'staff'),
                  class: 'text-decoration-none' %>
          </div>

        </div> <!--col-->
      </div> <!--row-->
    </div>

  </div> <!--container-->
</section>