<section class="pt-5 pb-5" id="donate">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Donate
      </h1>
    </div>

    <!--main section-->    
    <div>
      <p>
          Ad nostrud id est exercitation eiusmod est laborum proident fugiat ut occaecat. Duis ex elit voluptate sit commodo ullamco. Adipisicing et eu consectetur consequat sint aute fugiat aliqua elit mollit irure enim magna. Non enim voluptate cupidatat culpa reprehenderit laboris voluptate consequat nostrud amet ad consectetur pariatur qui.
          Ullamco Lorem nostrud magna eu ea duis nisi sit officia magna. Eiusmod elit anim consectetur voluptate. Eiusmod sunt qui elit cupidatat deserunt fugiat non amet. Quis velit amet exercitation ipsum nulla aliquip aliqua ipsum id fugiat. Deserunt elit id minim nisi nostrud. Adipisicing occaecat velit sunt reprehenderit pariatur. Quis elit eiusmod aute et.
      </p>
      <p>
          Ad nostrud id est exercitation eiusmod est laborum proident fugiat ut occaecat. Duis ex elit voluptate sit commodo ullamco. Adipisicing et eu consectetur consequat sint aute fugiat aliqua elit mollit irure enim magna. Non enim voluptate cupidatat culpa reprehenderit laboris voluptate consequat nostrud amet ad consectetur pariatur qui.
          Ullamco Lorem nostrud magna eu ea duis nisi sit officia magna. Eiusmod elit anim consectetur voluptate. Eiusmod sunt qui elit cupidatat deserunt fugiat non amet. Quis velit amet exercitation ipsum nulla aliquip aliqua ipsum id fugiat. Deserunt elit id minim nisi nostrud. Adipisicing occaecat velit sunt reprehenderit pariatur. Quis elit eiusmod aute et.
          Veniam consequat reprehenderit velit occaecat id voluptate eu. Mollit voluptate in occaecat est dolor ipsum laborum ut velit. Irure est velit sunt eiusmod irure proident fugiat aliqua dolor enim eu. Incididunt deserunt Lorem amet ut consectetur id exercitation aliquip consequat. Esse nulla est ex consequat nostrud amet eu laborum non cupidatat. Aliquip incididunt mollit id id consectetur fugiat sit ut. Anim tempor nostrud est qui mollit cillum.
          Aute amet exercitation velit est esse elit Lorem reprehenderit est qui eu pariatur. Ad magna ullamco dolor sit nostrud reprehenderit. Cillum do amet consequat ullamco eu culpa magna sint dolor irure eiusmod proident. Nisi adipisicing sint sit non enim tempor cillum ea culpa culpa consectetur do aliqua exercitation.
      </p>
      <p class="text-center mt-5">
          <%= link_to "Contact us to donate", adoptable_dogs_path, 
          class:'custom-btn-pink' %>
      </p>
    </div>

  </div> <!--container-->
</section>