<section class="pt-5 pb-5" id="donate">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Donate
      </h1>
    </div>

    <!--main section-->    
    <div class='bigger'>
      <p>
        Donations are a vital part of keeping our program up and running. While our expenses are certainly much lower than that of a rescue in Canada or the US, it still costs a substantial amount of money to keep things running. 
      </p>
      <br>
      <p>
        At this time, we accept donations via PayPal or e-transfer. They can be sent to bajapetrescue AT gmail DOT com or you can <%= link_to 'contact us', new_contact_path %> and we would be happy to help you make a donation.
      </p>
      <br>
      <p>
        No amount is too small, and all donations are greatly appreciated.
      </p>
    </div>
    <div class='text-center'>
      <%= image_tag('about1.jpg', width: '400', class: 'rounded mt-5') %>
    </div>
  </div> <!--container-->
</section>