<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>

<section class="pt-5 pb-5" id="donate">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Donate
      </h1>
    </div>
  
    <!--main section-->
    <div class="row pb-md-5">
      <div class="col-md-4 mb-4 mb-md-0">
        <%= link_to image_tag('about1.jpg', alt: 'Dog in Mexico', class: 'card-img-top rounded') %>
      </div>
      <div class="col-md-8 ps-md-4 bigger pb-5 pb-md-0">
        <p class=''>
          Donations are a vital part of keeping our program up and running. While our expenses are certainly much lower than that of a rescue in Canada or the US, it still costs a substantial amount of money to keep things running. No amount is too small, and all donations are greatly appreciated.
        </p>

      <div class="row text-center mt-5">
        <div class="col-8 offset-2 border p-5 shadow-sm 
                    rounded bg-white">
          <h3 class='mb-4'>Donate via Paypal</h3>

          <div id="paypal-donate-button-container" class="text-center mt-2">
            <script data-text=<%= "#{ENV['PAYPAL_BUSINESS']}" %>>
              const business_id = document.querySelector('script[data-text]').dataset.text
              PayPal.Donation.Button({
                env: 'sandbox',
                // hosted_button_id: 'YOUR_SANDBOX_HOSTED_BUTTON_ID',
                business: business_id,
                image: {
                  src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                  title: 'Donate to Baja Pet Rescue via Paypal.',
                  alt: 'Donate with PayPal button'
                },
                onComplete: function (params) {
                  console.log(params)
                },
              }).render('#paypal-donate-button-container');
            </script>
          <%# Test values work with ENV vars %>
          <%# Test with sandbox %>
          <%# Check onComplete returns params and execute controller to save to db %>
          <%# <input type="hidden" name="business" value="LETUBLN4NQKDG" /> %>
          <%# To test, log into developer with normal credentials, go to sandbox accounts, and then log into sandbox with account, create a button, add the ID above, and then pay using another sandbox account %>
          </div>
        </div>
      </div>
        
      </div>
    </div> <!--row-->

  </div> <!--container-->
</section>