<section class="pt-5 pb-5" id="faq">
        <div class="container mb-md-5 mt-md-5">
            <div class="text-center mb-5">
              <h1 class="section-heading text-uppercase underline">
                Frequently Asked Questions
              </h1>
            </div>
            
            <!--legend-->
            <div class="mb-5">
                <ul>
                  <li class="fs-5"><a href="#q1">What is the adoption process?</a></li>
                  <li class="fs-5"><a href="#q2">What is the cost?</a></li>
                  <li class="fs-5"><a href="#q3">What is required to be an adopter?</a></li>
                  <li class="fs-5"><a href="#q4">What is the history of the organization?</a></li>
                  <li class="fs-5"><a href="#q5">When can I adopt a dog?</a></li>
                  <li class="fs-5"><a href="#q6">Do you have other animals such as cats?</a></li>
                  <li class="fs-5"><a href="#q7">How do you transfer dogs?</a></li>
                  <li class="fs-5"><a href="#q8">What if I cannot keep the dog?</a></li>
                </ul>
            </div>

            <!--questions-->
            <div>
                <div class="mb-5" id="q1"> 
                    <h4>What is the adoption process?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q2"> 
                    <h4>What is the cost?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q3"> 
                    <h4>What is required to be an adopter?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q4"> 
                    <h4>What is the history of the organization?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q5"> 
                    <h4>When can I adopt a dog?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q6"> 
                    <h4>Do you have other animals such as cats?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q7"> 
                    <h4>How do you transfer dogs?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                <div class="mb-5" id="q8"> 
                    <h4>What if I cannot keep the dog?</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut sem viverra aliquet eget sit amet tellus cras. Purus ut faucibus pulvinar elementum integer enim neque. Eget mauris pharetra et ultrices neque ornare aenean euismod. Odio euismod lacinia at quis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Et ultrices neque ornare aenean euismod. In ante metus dictum at tempor commodo ullamcorper a. Ante in nibh mauris cursus mattis. Dui sapien eget mi proin. Etiam sit amet nisl purus in mollis nunc sed id.
                    <p>
                </div>
                

            </div>
        </div>
</section>