<section class="pt-5 pb-5 bigger" id="faq">
  <div class="container mb-md-5 mt-md-5">

		<!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Frequently Asked Questions
      </h1>
    </div>
            
    <!--legend section-->
    <div class="mb-5">
			<ul>
				<li class="fs-5"><a href="#q1">What is the adoption process?</a></li>
				<li class="fs-5"><a href="#q2">What are the operational costs for each rescue?</a></li>
				<li class="fs-5"><a href="#q3">What is required to be an adopter?</a></li>
				<li class="fs-5"><a href="#q4">How much is the adoption fee?</a></li>
				<li class="fs-5"><a href="#q5">What is the history of the organization?</a></li>
				<li class="fs-5"><a href="#q6">When can I adopt a pet?</a></li>
				<li class="fs-5"><a href="#q7">Do you have other animals such as cats?</a></li>
				<li class="fs-5"><a href="#q8">How do you transfer pets?</a></li>
				<li class="fs-5"><a href="#q9">What if I cannot keep the pet?</a></li>
				<li class="fs-5"><a href="#q10">Why do I need to complete a profile?</a></li>
			</ul>
    </div>

    <!--questions section-->
    <div>
			<div class="mb-5" id="q1"> 
				<h4 class="mb-4">What is the adoption process?</h4>
				<p>
					As a potential adopter you first need to create an account on this website and complete your adopter profile.
					When your profile is complete, check out the pets that are available for adoption, and after thoughtful consideration, click the ‘Apply to Adopt’ button. You can then see your application(s) on your 'Applications' page under ‘Dashboard’.
				</p>
				<br>
				<p>
					We will contact shortlisted applicants via the preferred contact method listed in your profile. Processing times for application review will vary depending on interest, but generally will be shorter if there is only one applicant (about 3 days). Once we have chosen the adopter, to consider the adoption complete, we require the $175US adoption fee be paid in full. 
				</p>
				<br>
				<p>
					If the adopter is located in Canada or the US, the next step is to find transport. Whether via air or by car, we estimate that the cost of transport would be between $100-250USD. An adult pet can be transported as soon as it has been spayed or neutered and has received all its vaccines. Since puppies finish their vaccination schedule around 3 months of age, but cannot be spayed or neutered until they are at least 4 months old, we offer 2 options: We can wait until they have been sterilized and recovered, at about 4.5 months, or we can find transport for when they are 3 months but have not been sterilized yet. If an adopter chooses to get the puppy before sterilization, we ask that they cover the cost of sterilization themselves and have it done before they are 9 months old.
				</p>
				<br>
				<p>
					Rest assured that we will be communicating with you throughout this entire process to answer any questions you may have.
				</p>
				<br>
				<p>
					Note: Sometimes you might browse a pet and see the applications have been paused. This can happen when a new pet needs a little more time before being ready for applications (e.g., for recovery or treatment), or when a pet has received enough interest and has a likely adopter lined up. 
				</p>
			</div>
			<div class="mb-5" id="q2"> 
				<h4 class="mb-4">What are the operational costs for each rescue?</h4>
				<p>
					This is a list of typical expenses for each pet we take into our program ($USD):
				</p>
				<ul>
					<li>
						Dewormer: $5-15
					</li>
					<li>
						SNAP test: $50, tests for parvovirus, erlichia, anaplasma and distemper. To ensure we are re-homing healthy pets, we administer a SNAP test to each animal upon intake, however, due to the high cost, we will test 1-2 of the smallest puppies from a litter upon intake.
					</li>
					<li>
						Parvovirus vaccine: $10
					</li>
					<li>
						DAPP vaccine: $15, puppies get 2 rounds of this, while adults only require 1
					</li>
					<li>
						Rabies vaccine: $10
					</li>
					<li>
						Spay: $45-60
					</li>
					<li>
						Neuter: $30-50
					</li>
					<li>
						Note on spay/neuter: we try to make sure every single pet leaves our program fixed. Many adopters are anxious to get as much puppy time as possible and we TOTALLY get it! In those cases, once the pet leaves La Ventana we ask that the adopter be responsible for the cost of spay/neuter as it is significantly more expensive outside Mexico.
					</li>
					<li>
						Pet food: $25-30 per 10kg bag of puppy food and $45-60 for a 20kg bag of adult food. This is one of those expenses that often creeps up on us. We expect each pet to consume up to 1-1.5 bags of pet food. 
					</li>
					<li>
						Pet crates: $35-50 Small soft sided carrier costs. $75-250 larger cargo crates cost
					</li>
					<li>
						Note about Crates: these are a massive expense. Many of our pets travel to their forever homes via airplane, while we try our hardest to recoup our crates, we don't always get them back.
					</li>
				</ul>
			</div>
			<div class="mb-5" id="q3"> 
				<h4 class="mb-4">What is required to be an adopter?</h4>
				<p>
					We believe pet ownership takes all forms! Our main criteria for an adopter is that they at least have a support system who can help with the pet if they fall on hard times, that they have no history of animal neglect or abuse, and that they are willing to do whatever it takes to give their pet the best life possible.				
				</p>
			</div>
			<div class="mb-5" id="q4"> 
				<h4 class="mb-4">How much is the adoption fee?</h4>
				<p>
					Our adoption fee is $175 (USD). 
				</p>
			</div>
			<div class="mb-5" id="q5"> 
				<h4 class="mb-4">What is the history of the organization?</h4>
				<p>
					Baja Pet Rescue was founded in March of 2020, while we initially wanted to be able to focus on both rescue and spay/neuter efforts in the community, we quickly realized how challenging both things are. In January 2021 we decided to focus our efforts solely on rescue. To date, we have taken over 170 pets off the street and put them into good homes, with a small percentage being humanely euthanized as a last resort to prevent further suffering.
				</p>
			</div>
			<div class="mb-5" id="q6"> 
				<h4 class="mb-4">When can I adopt a pet?</h4>
				<p>
					This is on a case by case basis. Typically for adult pets, we wait two weeks post intake to ensure they are healthy and do not have any adverse reaction to their vaccinations. If an adult comes in and is sick, they have to finish their treatment and be vaccinated before we can open adoptions for that animal.
				</p>
				<br>
				<p>
					For puppies, we wait until they are at least 8 weeks before we open adoptions, however, they have to wait until they are at least 12 weeks before they can travel internationally.
				</p>
			</div>
			<div class="mb-5" id="q7"> 
				<h4 class="mb-4">Do you have other animals such as cats?</h4>
				<p>
					Due to Danielle having a cat allergy, we cannot take on cats unless there is a long term foster available. We do not have experience with larger animals as well, so we cannot take on larger animals at this time. 				
				</p>
			</div>
			<div class="mb-5" id="q8"> 
				<h4 class="mb-4">How do you transfer pets?</h4>
				<p>
					 Most of our pets travel by air or by car. When a pet travels by air, we are required to find them an escort who can bring them through customs. If you are receiving your pet via air transport, you are required to pay for the cost of your pet's ticket.
				</p>
				<br>
				<p>
					Occasionally we get lucky, especially at the end of the season, and find people who are willing to drive pets up and drop them off along their route home. These people are agreeing to care for an animal while on the road and find accommodations that are pet friendly. While there is not necessarily a cost associated with this, we do ask that the adopter offer the transporter gas money.
				</p>
			</div>
			<div class="mb-5" id="q9"> 
				<h4 class="mb-4">What if I cannot keep the pet?</h4>
				<p>
					If you are unsure if you can keep the pet, we ask that you contact us immediately. In most large cities we have a large base of support and can find someone who can foster while we look for a new home for them. In the case that we cannot find anyone, we ask that you surrender them to a local rescue. 
				</p>
			</div>
			<div class="mb-5" id="q10"> 
				<h4 class="mb-4">Why do I need to complete a profile?</h4>
				<p>
					The questions in the adopter profile are typical questions found on many pet adoption application forms. These questions really help us learn about your personality and lifestyle so we can match you with a suitable pet. The profile only needs to be completed once and can be used for multiple applications, which saves you time. You can also easily edit it if necessary.
				</p>
			</div>
    </div>
  </div> <!--container-->
</section>