<section class="pt-5 pb-5" id="partners">
  <div class="container mb-md-5 mt-md-5">

    <!-- page heading-->
    <div class="mb-5">
      <h1 class="section-heading text-uppercase underline text-center">
        Partners
      </h1>
      <div class='bigger'>
        <p>
          Our partners are organizations and businesses who work alongside us to improve the living conditions of our four legged friends and their owners here in La Ventana and surrounding communities. 
        </p>
        <br>
        <p>
          We would like to give a special thank-you to Cristhain Pozo, our veterinarian here in La Ventana who works tirelessly to help the community. As well as the team at Crovet in La Paz who are always there when we have a tough case or a dog needing hospitalization.
        </p>
        <br>
        <p>
          Another special partner is our friend Taya Wyss, who has spent the last few years working tirelessly to provide free spay, neuter and vaccines for the community's dogs. Her work is invaluable in keeping the number of unwanted puppies low compared to previous years. 
        </p>
      </div>
    </div>
  </div> <!--container-->
</section>