<%= render DashboardPageComponent.new(crumb: :staff_index) do |c| %>
  <% c.with_header_title { t("staff") } %>
  <% c.with_action do %>
    <div class='d-flex align-items-center gap-2'>
      <%= link_to t("invite_staff"), new_staff_staff_invitation_path, class: "btn btn-primary" %><br>
    </div>
  <% end %>
  <% c.with_body do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "staff_table", locals: { staff: @staff} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "staff_cards", collection: @staff, as: :staff %>
      </div>
    </div>
  <% end %>
<% end %>
