<% if partial.avatar? %>
  <div class="avatar avatar-md avatar-indicators avatar-online">
    <%= partial.avatar %>
  </div>
<% else %>
  <div class="avatar avatar-md avatar-indicators avatar-online">
    <div class="avatar-initials avatar-primary">
      <%= partial.initials %>
    </div>
  </div>
<% end %>
