<div class="card">

  <% if local_assigns[:title] %>
    <div class="card-header">
      <h4 class="card-header-title">
        <% if local_assigns[:icon] %>
          <i class="bi bi-<%= local_assigns[:icon] %>"></i>
        <% end %>
        <%= local_assigns[:title] %>
      </h4>
    </div>
  <% end %>

  <div class="card-body">
    <%= partial.body %>
  </div>
</div>


