<div class="header">

  <!-- Image -->
  <img src="https://images.unsplash.com/photo-1591160690555-5debfba289f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80" class="header-img-top" style='height: 250px; object-fit: cover'>

  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <div class="col-auto">
          <!-- Avatar -->
          <div class="avatar avatar-xxl header-avatar-top">
            <%= image_tag @pet.images.first, class: "avatar-img rounded-circle border border-2 border-body" %>
          </div>
        </div>

        <div class="col mb-3 ms-n3 ms-md-n2">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            <%= local_assigns[:pretitle] %>
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            <%= local_assigns[:title] %>
          </h1>

        </div>

        <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
          <!-- Button -->
          <a href="#!" class="btn btn-primary d-block d-md-inline-block lift">
            Subscribe
          </a>
        </div>
      </div> <!-- / .row -->

      <div class="row align-items-center">
        <div class="col">

          <!-- Nav -->
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <% (local_assigns[:nav_items] || []).each do |n| %>
              <li class="nav-item">
                <%= active_link_to n[:label], n[:url], **(n[:options] || {}), class: 'nav-link' %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div> <!-- / .header-body -->
  </div>
</div>
