<% if partial.avatar? %>
  <%= partial.avatar %>
<% else %>
  <div class="avatar-xl rounded-circle border border-4 border-white" style="background-color: #754ffe">
    <div class="avatar-initials" style="font-size: xx-large; color: white">
      <%= partial.initials %>
    </div>
  </div>
<% end %>
