<%= render DashboardPageComponent.new(crumb: :dashboard_pet, crumb_options: [@pet]) do |c| %>
  <% c.with_header_title { @pet.name } %>
  <% c.with_nav_tabs([
    { url: staff_pet_path(@pet, active_tab: 'overview'), text: "Overview" },
    { url: staff_pet_path(@pet, active_tab: 'tasks'), text: "Tasks" },
    { url: staff_pet_path(@pet, active_tab: 'applications'), text: "Applications" },
    { url: staff_pet_path(@pet, active_tab: 'fosters'), text: "Fosters" },
    { url: staff_pet_path(@pet, active_tab: 'photos'), text: "Photos" },
    { url: staff_pet_path(@pet, active_tab: 'files'), text: "Files" },
  ]) %>

  <% c.with_body do %>
    <div class="row">
      <div class="col-md-12 col-lg-8 col-12">
        <%= render partial: "organizations/staff/pets/tabs/#{@active_tab}", locals: { applications: @pet.adopter_applications, pet: @pet, fosters: @pet.matches.fosters } %>
      </div>

      <div class="col-md-12 col-lg-4 col-12">

        <div class="mb-4">
          <div>
            <% if @pet.images.attached? %>
              <%= image_tag @pet.images.first, class: 'rounded card-img-top' %>
            <% else %>
              <%= image_tag('coming_soon.jpg', class: 'rounded card-img-top') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
