<!--page heading-->
<header class="pt-5 pb-5" >
  <div class="container">
      <div class="text-center">
        <h1 class="section-heading text-uppercase underline">
          <%= t('.header') %>
        </h1>
      </div>
  </div> <!--container-->
</header>

<!--pet tiles-->
<section class="pb-5" id="adoptable_pets">
  <div class="container">
    <div class="row">
      <%= render partial:"pet_card", collection: @pets, as: :pet %>
    </div>
  </div> <!--container-->
</section>
