<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Staff Sign Up</h1>
    
    <p>
      Please do the following: 
    </p>

    <ol>
      <li>Verify this person is with an organization</li>
      <li>If legitimate, set their staff account to verified</li>
    </ol>

    <p><a href="<%= @url %>">Log in</a></p><br>

    <strong>- Baja Pet Rescue Team</strong>
  </body>
</html>