<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1><%= @user.first_name %>, thank you for signing up with Baja Pet Rescue!</h1>
    
    <p>
      We are a grassroots organization helping to rehome dogs from Baja, Mexico to Canada/USA.
      Now that you have registered as an adopter, getting your adoption application 
      in is a straightforward process:
    </p>

    <ol>
      <li>Complete your profile</li>
      <li>Browse available dogs and find one that is a good fit for you</li>
      <li>Click on the 'Apply' button on your favourite dog's page</li>
      <li>Check the Applications page for a summary of your applications</li>
      <li>Await contact from us for a conversation about you, the dog, and the process</li>
    </ol>

    <strong>Still have questions?</strong>
    <p>Check out the <a href=<%= @faq_url %>>FAQ page</a>.</p>
    <p>Again, thank you for signing up! People like you help these dogs live their best life.</p>

    <strong>- Baja Pet Rescue Team</strong>
    <br>
    <a href='https://www.bajapetrescue.com'>www.bajapetrescue.com</a>
  </body>
</html>