<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, welcome to the Baja Pet Rescue team!</h1>

    <p>
      With your staff account, you will be able to do the following on behalf
      of your organization:
    </p>

    <ul>
      <li>View, create, edit, delete pets</li>
      <li>View all adoption applications</li>
      <li>View the profiles of all applicants</li>
      <li>Edit and update adoption applications</li>
    </ul>

    <p>People like you help these pets live their best life <\3</p>

    <strong>- Baja Pet Rescue Team</strong>
  </body>
</html>