<!-- footer -->
<footer class="pt-lg-10 pt-5 footer bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- about company -->
        <div class="mb-4">
          <h3> Pet Rescue </h3>
          <div class="mt-4">
            <p> We provide a platform for Pet Rescues and Animal Service Organizations </p>
            <!-- social media -->
            <div class="fs-4 mt-4">
              <a href="#" class="mdi mdi-facebook fs-4 text-muted me-2"></a>
              <a href="#" class="mdi mdi-twitter text-muted me-2"></a>
              <a href="#" class="mdi mdi-instagram text-muted "></a>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Company</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li>
              <%= active_link_to 'About Us', about_us_path, class: 'nav-link' %>
            </li>
            <li>
              <%= active_link_to 'Partners', partners_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Support</h3> #here also?
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li><a href="#" class="nav-link">Help and Support</a></li>
            <li><a href="#" class="nav-link">Become Instructor</a></li>
            <li><a href="#" class="nav-link">Get the app</a></li>
            <li><a href="#" class="nav-link">FAQ’s</a></li>
            <li><a href="#" class="nav-link">Tutorial</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <!-- contact info -->
        <div class="mb-4">
          <h3 class="fw-bold mb-3">Get in touch</h3>
          <p>339 McDermott Points Hettingerhaven, NV 15283</p>
          <p class="mb-1">Email: <a href="#">support@geeksui.com</a></p>
          <p>Phone: <span class="text-dark fw-semibold">(000) 123 456 789</span></p>
        </div>
      </div>
    </div>
    <div class="row align-items-center g-0 border-top py-2 mt-6">
      <!-- Desc -->
      <div class="col-lg-4 col-md-5 col-12">
        <span>
          ©
          <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          Pet-Rescue, Inc. All Rights Reserved
        </span>
      </div>
      <!-- Links -->
      <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
        <nav class="nav nav-footer">
          <a class="nav-link ps-0" href="#">Privacy Policy</a>
          <a class="nav-link px-2 px-md-3" href="#">Cookie Notice  </a>
          <a class="nav-link" href="#">Terms of Use</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
