    <%# Table layout %>	
    <div class="d-none d-xl-block">	
      <%= render "organizations/staff/pets/tabs/applications_table", applications: pet.adopter_applications, pet: pet %>	
    </div>	

    <%# Cards layout %>	
    <div class="d-xl-none d-flex flex-wrap">	
      <%= render "organizations/staff/pets/tabs/applications_card", applications: pet.adopter_applications, pet: pet %>
    </div>