<div id="fosters_tab_table" class="card">
  <div class="card-body px-5">
    <% #headers %>
    <div class="row border-bottom pb-3 pt-1">
      <div class="col-4 fw-semibold">
        Fosterer
      </div>
      <div class="col-2 fw-semibold">
        Status
      </div>
      <div class="col-2 fw-semibold">
        Start Date
      </div>
      <div class="col-2 fw-semibold">
        End Date
      </div>
      <div class="col-2 fw-semibold">
      </div>
    </div>

    <% fosters.each do |foster|%>
      <%= render 'organizations/staff/pets/tabs/partials/foster', foster: foster %>
    <% end %>
  </div>
</div>
