<div class="mb-4">
  <%= render "attachment_form", instance: @pet, title: 'Photos', url: attach_images_staff_pet_path(@pet), attachment_type: 'images' %>
  <%= render ImageAttachmentTableComponent.new(images: @pet.images) %>
</div>
