<div class="d-flex flex-column align-items-center mb-4">
  <iframe id="external-form" 
    src=<%= @form_url%>
    width="640" 
    height="645"
    >Loading…</iframe>

  <%= button_to 'View pets', adopter_fosterer_form_submissions_path, class: "my-2" %>
</div>
