<div class="dropdown">
  <button class="btn dropdown-toggle <%= application_status_classes(app)%>" data-bs-toggle="dropdown" aria-expanded="false">
    <%= app.human_enum_name(:status) %>
  </button>
  <ul class="dropdown-menu">
    <% AdopterApplication.statuses.keys.each do |status| %>
      <%unless status == "adoption_made" %>
        <li>
          <%= button_to t("organizations.staff.pets.application_status.#{status}"),
                        staff_adoption_application_review_path(app, params: { adopter_application: { status: status}}),
                        :method => :patch, class: 'dropdown-item' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>