<% if app.status == 'successful_applicant' %>
  <!--create adoption button-->
  <%= button_to "New Adoption", staff_matches_path, method: :post,
        params: {match:
          {pet_id: app.pet_id, 
           person_id: app.form_submission.person_id,
           match_type: :adoption}
        },
        class: "btn btn-outline-primary",
        data: { turbo_confirm: "Click OK to finalize this adoption." }
      %>
<% else %>
  <span class="d-inline-block" tabindex="0"
                data-bs-toggle="tooltip" title="Finalize adoption">
    <button type="button" class="btn btn-outline-secondary"
                disabled><%=t("organizations.staff.pets.applications.new_adoption")%></button>
  </span>
<% end %>
