<div id="<%= dom_id checklist_template %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_template.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= checklist_template.description %>
  </p>

</div>
