<h1>Editing checklist template</h1>

<%= render "form", checklist_template: @checklist_template %>

<br>

<div>
  <%= link_to "Show this checklist template", @checklist_template %> |
  <%= link_to "Back to checklist templates", checklist_templates_path %>
</div>
