<p style="color: green"><%= notice %></p>

<h1>Checklist templates</h1>

<div id="checklist_templates">
  <% @checklist_templates.each do |checklist_template| %>
    <%= render checklist_template %>
    <p>
      <%= link_to "Show this checklist template", checklist_template %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist template", new_checklist_template_path %>
