<!-- _overview_list_item.html.erb -->
<% content.each do |item| %>
  <li class="list-group-item px-0">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fe fe-book me-2"></i>
        <div class="ms-2">
          <h5 class="mb-0 text-body"><%= item[:title] %></h5>
        </div>
      </div>
      <div>
        <div>
          <p class="text-dark mb-0 fw-semibold"><%= item[:content] %></p>
        </div>
      </div>
    </div>
  </li>
<% end %>
