<%= turbo_frame_tag dom_id(@pet, :tasks) do %>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <h4 class="mb-0">Tasks</h4>
              <%= link_to new_pet_task_path(@pet), class: 'btn btn-outline-primary m-3', data: { turbo_frame: dom_id(Task.new) } do %>
                <div class="d-flex align-items-center">
                  <i class="fe fe-plus fw-bolder me-2" aria-label="add new task" style="font-size: 22px;"></i>
                  Add New Task
                </div>
              <% end %>
            </div>
            <div class="checkbox">
              <div class="form-check form-switch">
                <label class="form-check-label mx-6" for="flexSwitchCheckChecked">Show Completed</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked data-controller="toggle-completed" data-action="change->toggle-completed#toggleCompletedTasks">
              </div>
            </div>
          </div>
          <%= turbo_frame_tag Task.new %>
        </div>
        <ul class="list-group">
          <% @tasks.each do |task| %>
            <%= render partial: "organizations/tasks/task", locals: { task: task } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>