
<section class="pt-3 pb-5" id="account_select">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="h4 mb-5">
        Edit <%= @dog.name%>
      </h1>
    </div>

    <!--rendering _form.html.erb--> 
    <%= render 'form', dog: @dog %>

  </div> <!--container-->
</section>