<!--page heading-->
<%= render "components/adopter_foster_dashboard/page" do |p| %>
  <% p.header_title t("dashboard.submissions.header_title") %>
  <% p.content do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "submissions_table", locals: { submissions: @submissions} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex justify-content-evenly flex-wrap">
        <%= render partial:"submission_cards", collection: @submissions, as: :submission %>
      </div>
    </div>
  <% end %>
<% end %>
