<%= render DashboardPageComponent.new do |c| %>
  <% c.with_header_title { t('static_pages.faq.faq') } %>
  <% c.with_body do %>
    <div class="justify-content-md-between">
    <%= render "static_pages/faq" %>
    </div>
  <% end %>
<% end %>