<div class="card">
  <!-- table -->
  <div class="table-responsive overflow-y-hidden">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
      <tr>
        <th scope="col">Filename</th>
        <th scope="col">Uploaded</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <% if @pet.files.attached? %>
          <% @pet.files.each do |file| %>
            <tr>
              <td>
                <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %>
              </td>
              <td>
                <%= file.created_at.strftime("%Y-%m-%d") %>
              </td>
              <td>
                <%= link_to t('general.download'),
                  rails_blob_path(file, disposition: 'attachment'),
                  class: 'btn btn-outline-success' %>

                <% if allowed_to?(:purge?, file) %>
                  <%= link_to t('general.delete'),
                      staff_purge_attachment_path(file.id),
                      data: {
                        turbo_confirm: "Do you want to delete this image?",
                        turbo_method: "delete" },
                      class: 'btn btn-outline-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">
              No files attached.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
