<div class="card mb-4">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mb-0"><%= title %></h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= bootstrap_form_with(model: instance, url: url, method: :post) do |form| %>
      <div class='form-group mt-3'>
        <%= form.file_field attachment_type.to_sym, multiple: true, direct_upload: true,
                  class: "custom-attachments",
                  label: "Attach #{attachment_type}" %>
      </div>

      <%= form.submit t('general.save'), class: 'btn btn-outline-dark mb-3 mt-4' %>
    <% end %>
  </div>
</div>

