<% if resource.avatar.id %>
  <div class='form-group mt-3'>
    <label class="form-label">
      Current picture
    </label>
    <div class='d-flex flex-column align-items-center'>
      <% if picture_shape == 'circle' %>
        <%= image_tag resource.avatar, class: 'avatar-xxl rounded-circle' %>
      <% elsif picture_shape == 'rectangle' %>
        <%= image_tag resource.avatar, class: 'rounded-1', style: 'max-height:7.5rem;max-width:100%' %>
      <% end %>
      <%= link_to t('general.delete'),
                  purge_attachment_path(resource.avatar.id),
                  data: { turbo_method: "delete" },
                  class: 'delete-button' %>
    </div>
  </div>
<% else %>
  <div class='form-group mt-3'>
    <%= form.file_field :avatar, 
                        class: "custom-attachments",
                        label: 'Attach picture' %>
  </div>
<% end %>
