<% if resource.errors.any? %>
<ul class="list-group mb-3 col-12 col-md-4">
  <% resource.errors.full_messages.each do |message| %>
    <li class="list-group-item list-group-item-danger">
      <%= message %>
    </li>
  <% end %>
</ul>
<% end %>
