<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="mb-0"><%= "#{t('general.about')} #{@pet.name}" %></h4>
      </div>
    </div>


  </div>
  <div class="card-body">
    <p><%= @pet.description %></p>

    <ul class="list-group list-group-flush">
      <% pet_infos = {"Age": time_ago_in_words(@pet.birth_date).titleize,
                      "Sex": @pet.sex,
                      "Breed": @pet.breed,
                      "Weight": "#{@pet.weight_from} to #{@pet.weight_to} #{@pet.weight_unit}"
      } %>
      <% pet_infos.each do |pet_info| %>
      <li class="list-group-item px-0">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <i class="fe fe-book me-2"></i>
            <div class="ms-2">
              <h5 class="mb-0 text-body"><%= pet_info[0] %></h5>
            </div>
          </div>
          <div>
            <div>
              <p class="text-dark mb-0 fw-semibold"><%= pet_info[1] %></p>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>