<div class="tasks-section">
  <h2>Tasks for <%= @pet.name %></h2>
  <ul class="task-list">
    <li class="task-item">Task 1: Take <%= @pet.name %> for a walk</li>
    <li class="task-item">Task 2: Feed <%= @pet.name %> </li>
    <li class="task-item">Task 3: Schedule vet appointment for <%= @pet.name %> </li>
  </ul>
</div>