<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @dog.name %> has received a new adoption application</h1>
    <p>
      Great news! You have another adoption application to review for <%= @dog.name %>.
    </p>
    <p>
      Log-in and check the applications: <a href="<%= @url %>">here</a>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>