 <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
     <div class="vh-100" data-simplebar>
         <!-- Brand logo -->
         <a class="navbar-brand" href="@@webRoot/index.html">
             <img src="@@webRoot/assets/images/brand/logo/logo-inverse.svg" alt="" >
         </a>
         <!-- Navbar nav -->
         <ul class="navbar-nav flex-column" id="sideNavbar">
          <% if current_user.staff_account && current_user.has_role?(:admin, current_user.staff_account.organization) %>
            <li class="nav-item">
                    <a class="nav-link @@if (context.page_group !== 'courses') { collapsed }" href="#"
                        data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false"
                        aria-controls="navCourses">
                        <i class="nav-icon fe fe-book me-2"></i> Organization
                    </a>
                    <div id="navCourses" class="collapse @@if (context.page_group === 'courses') { show }"
                        data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @@if (context.page === 'allcourses') { active }"
                                    href="@@webRoot/pages/dashboard/admin-course-overview.html">
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @@if (context.page === 'coursescategory') { active }"
                                    href="@@webRoot/pages/dashboard/admin-course-category.html">
                                    Staff
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            <% end %>
             <li class="nav-item">
                 <a class="nav-link @@if (context.page_group !== 'courses') { collapsed }" href="#"
                     data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false"
                     aria-controls="navCourses">
                     <i class="nav-icon fe fe-book me-2"></i> Pets
                 </a>
                 <div id="navCourses" class="collapse @@if (context.page_group === 'courses') { show }"
                     data-bs-parent="#sideNavbar">
                     <ul class="nav flex-column">
                         <li class="nav-item">
                             <a class="nav-link @@if (context.page === 'allcourses') { active }"
                                 href="@@webRoot/pages/dashboard/admin-course-overview.html">
                                 Manage
                             </a>
                         </li>
                     </ul>
                 </div>
             </li>
             <li class="nav-item">
                 <a class="nav-link @@if (context.page_group !== 'courses') { collapsed }" href="#"
                     data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false"
                     aria-controls="navCourses">
                     <i class="nav-icon fe fe-book me-2"></i> Applications
                 </a>
                 <div id="navCourses" class="collapse @@if (context.page_group === 'courses') { show }"
                     data-bs-parent="#sideNavbar">
                     <ul class="nav flex-column">
                         <li class="nav-item">
                             <a class="nav-link @@if (context.page === 'allcourses') { active }"
                                 href="@@webRoot/pages/dashboard/admin-course-overview.html">
                                 Adoption
                             </a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link @@if (context.page === 'coursescategory') { active }"
                                 href="@@webRoot/pages/dashboard/admin-course-category.html">
                                 Foster
                             </a>
                         </li>
                     </ul>
                 </div>
             </li>
             <!-- Nav item -->
             <li class="nav-item">
                 <a class="nav-link  @@if (context.page_group !== 'user') { collapsed }" href="#"
                     data-bs-toggle="collapse" data-bs-target="#navProfile" aria-expanded="false"
                     aria-controls="navProfile">
                     <i class="nav-icon fe fe-user me-2"></i> Donations
                 </a>
                 <div id="navProfile" class="collapse @@if (context.page_group === 'user') { show }"
                     data-bs-parent="#sideNavbar">
                     <ul class="nav flex-column">
                         <li class="nav-item">
                             <a class="nav-link @@if (context.page === 'instructor') { active }"
                                 href="@@webRoot/pages/dashboard/admin-instructor.html">
                                 Sources
                             </a>
                         </li>
                     </ul>
                 </div>
             </li>
         </ul>
        </div>
   </nav>
   
