<div class="card">
  <% if local_assigns[:title] %>
    <div class="card-header">
      <h4 class="card-header-title">
        <%= local_assigns[:title] %>
      </h4>
    </div>
  <% end %>

  <div class="card-body">
    <%= yield %>
  </div>
</div>


