<%# @pet, @pets are defined in the adoption_application_reviews controller %>

<% if @pet.nil? ? @collection = @pets : @collection = @pet %>

  <% @collection.each do |pet| %>
    <!--pet name-->
    <div class="mb-4">
      <%= render "partials/pet_applications", applications: pet.adopter_applications, pet: pet %>
    </div>
  <% end %>

<% end %>
