<%# @pet, @pets are defined in the adoption_application_reviews controller %>

<% @collection = @pet.nil? ? @pets_with_applications : @pet %>

  <% @collection.each do |pet| %>
    <!--pet name-->
    <div class="mb-4">
      <%= render "organizations/pets/tabs/applications", applications: pet.adopter_applications, pet: pet %>
    </div>
  <% end %>
