<div class="mb-4">
  <%= render "partials/attachment_form", instance: @pet, title: 'Photos', url: attach_images_pet_path(@pet), attachment_type: 'images' %>
  <%= render "partials/image_attachment_table", pet: @pet %>
</div>
