<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDITU19TesTn3dHdfwyJsmL3CZy7RX2g_c&region=US&callback=initMap",
    defer: true %>

<div data-controller="google-map" data-action="MapLoaded@window->google-map#initGoogle">
  <% @adoption_all.each do |adoption| %>
    <ul data-google-map-target="listings">
      <% unless adoption.adopter_account.adopter_profile.location.latitude == nil %>
        <li data-lat="<%= adoption.adopter_account.adopter_profile.location.latitude %>"
            data-lon="<%= adoption.adopter_account.adopter_profile.location.longitude %>"
            data-name="<%= adoption.dog.name %>">
        </li>
      <% end %>
    </ul>
  <% end %>
  <div data-google-map-target="map" class="map container rounded"></div>
</div>
