<%# @pet, @pets are defined in the submission_reviews controller %>

<% @collection = @pet.nil? ? @pets_with_submissions : @pet %>

<div class="d-flex flex-wrap justify-content-center">
  <% @collection.each do |pet| %>
    <!--pet name-->
    <%= render "organizations/staff/pets/tabs/submissions", submissions: pet.submissions, pet: pet %>
  <% end %>
</div>
