<%# @pet, @pets are defined in the adoption_application_reviews controller %>

<% @collection = @pet.nil? ? @pets_with_applications : @pet %>

  <% @collection.each do |pet| %>
    <%= render "organizations/staff/pets/tabs/applications", applications: pet.adopter_applications, pet: pet %>
  <% end %>

  </div>