<header class="pt-5 pb-5"> 
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        Internal Server Error
      </h1>
    </div>
    <%= image_tag('error.jpg') %>
    <%= link_to 'Take me home!', root_path %>
  </div> <!--container-->
</header>
