<header class="pt-5 pb-5"> 
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        422: Restricted Access
      </h1>
    </div>
    <div class='text-center mt-5 mb-2'>
      <%= link_to 'Take me home!', root_path %>
    </div>
    <div class='text-center'>
      <%= image_tag('error.jpg', width: '400') %>
    </div>
  </div> <!--container-->
</header>
