<% @dogs.each do |dog| %>
  <%= link_to dog.name, dog_path(dog) %>
  
  <div class='card'>
    <% dog.adopter_applications.each do |app|%>
    <p>Application Status: <%= app.status%></p>
    <p>Applicant Profile: <%= app.adopter_account.adopter_profile %>
    <%= link_to 'Application', edit_adopter_application_path(app.id) %>
    <% end %>
  </div>
<% end %>