<!--page heading-->
<header class="pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        Applications
      </h1>
    </div>
  </div> <!--container-->
</header>

<!--main section-->
<section class="pb-5" id="about_us">
  <div class="container">

    <h5 class="mb-2">Filter by dog name</h5>
    <%= form_with url: '/adopter_applications', method: :get do | f | %>

    <div class="form-group">
      <div class="row mb-2">
        <div class="col-md-4 mb-3">
          <%= f.collection_select :dog_id, @dogs, :id, :name, { prompt: 'All' },
                                  class: 'form-control ' %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
        </div>
      </div> <!--row-->
    </div> 

    <% end %>

    <%= render 'search_results' %>

  </div> <!--container-->
</section>