<section class="pt-5 pb-5" id="about_us">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Applications
      </h1>
    </div>

    <!--main section-->
    <h5 class="mb-2">Filter by dog name</h5>
    <%= form_with url: '/adopter_applications', method: :get do | f | %>

      <div class="row mb-2">
        <div class="col-md-4 mb-3">
          <%= f.collection_select :dog_id, @dogs, :id, :name, { prompt: 'All' },
                                  class: 'form-control ' %>
        </div>
        <div class="col-md-4 mb-3">
          <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
        </div>
      </div> <!--row-->

    <% end %>

    <%= render 'search_results' %>

  </div> <!--container-->
</section>