<p style="color: green"><%= notice %></p>

<h1>Checklist template items</h1>

<div id="checklist_template_items">
  <% @checklist_template_items.each do |checklist_template_item| %>
    <%= render checklist_template_item %>
    <p>
      <%= link_to "Show this checklist template item", checklist_template_item %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist template item", new_checklist_template_item_path %>
