<h1>New checklist template item</h1>

<%= render "form", checklist_template_item: @checklist_template_item %>

<br>

<div>
  <%= link_to "Back to checklist template items", checklist_template_items_path %>
</div>
