<%= turbo_stream.replace "like_button_pet_#{@pet.id}" do %>
  <div id="like_button_pet_<%= @pet.id %>" class="d-flex flex-column align-items-center">
    <%= render partial: 'partials/like_button', locals: { pet: @pet, liked_pet: @liked_pet } %>
  </div>
<% end %>

<%= turbo_stream.replace "flash", partial: "layouts/shared/flash_messages" %>