<%= turbo_stream.replace "like_button_pet_#{@pet.id}" do %>
  <div id="like_button_pet_<%= @pet.id %>" class="d-flex flex-column align-items-center">
    <%= render LikeButtonComponent.new(pet: @pet, like: false) %>
  </div>
<% end %>

<%= turbo_stream.replace "flash", partial: "layouts/shared/flash_messages" %>
