<!--page heading-->
<%= render "components/adopter_foster_dashboard/page" do |p| %>
  <% p.header_title t('organizations.adopter_fosterer.likes.index.liked_pets') %>
  <% p.content do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <div class="row">
        <%= render partial:"partials/pet_card", collection: @pets, as: :pet %>
      </div>
    </div>
  <% end %>
<% end %>
