<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats on <%= @pet.name %>'s adoption!</h1>

    <p>Hope everything's going well! This is just a reminder to make sure <%= @pet.name %>'s vaccinations are up to date.</p>

    <p>Have a great day!</p>
  </body>
</html>