<!--page heading-->
<header class="pt-5 pb-3">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        <%= t('.adopter_profile') %>
      </h1>
    </div>
  </div> <!--container-->
</header>

<section class="pb-5" id="account_select">
  <div class="container mb-md-5 mt-md-5">

    <!-- progress bar-->
    <%= render partial: 'shared/progress_bar', locals: { page: 'profile' } %>

    <h5 class="text-center mb-4 col-md-8 mx-auto">
      <%= t('.help_us_learn_more') %>
    </h5>
    
    <!--rendering _form.html.erb-->
    <div class="col-md-8 mx-auto">
        <%= render "form", profile: @adopter_profile %>
    </div>

  </div> <!--container-->
</section>
