/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,400&display=swap');


 * {
  margin: 0;
  padding: 0;
  border: 0;
 }
//font and color
body {
  font-family: 'Titillium Web', sans-serif;
  color: #504451
}

a {
  color: #00401F;
}


// flash
.flash-notice {
  display: flex;
  background-color: #b2f4d2;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  margin-bottom: 0;
  height: 2em;
 }

 .flash-alert {
  display: flex;
  background-color: #f49d9a;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  margin-bottom: 0;
  height: 2em;
 }

//navbar logo
.logo {
  height: 40px;
}

@media only screen and (max-width: 992px) {
  .navbar-margin-bottom {
    margin-bottom: 5px;
  }
}

// All pages heading underline
.underline:after {
  content:"";
  display:block;
  width: 6em;
  max-width:70%;
  border-bottom: 1px solid #bbadbc;
  margin: 0.7em auto 0.5em;
}

.card-img-top {
  height: 250px;
}

// Home page styling
// masthead //
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url(image_path('hero.jpg'));
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  }

@media (min-width: 768px) {
  header.masthead {
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  }
}

//About Us
.justify {
  text-align: justify;
}

//Buttons
.custom-btn-pink {
  text-decoration: none;
  align-items: center;
  background-color: #AA3440;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.custom-btn-pink:hover,
.custom-btn-pink:focus { 
  background-color: #e55a67;
  color: #ffffff;
  text-decoration: none;
}

.custom-btn-pink:active {
  background: #e55a67;
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
}

.custom-btn-pink:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

.custom-btn-green {
  text-decoration: none;
  align-items: center;
  background-color: #FFF;
  border: solid 1px #00401F;
  border-radius: 100px;
  box-sizing: border-box;
  color: #00401F;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.custom-btn-green:hover,
.custom-btn-green:focus { 
  background-color: #eddee0;
  color: #00401F;
  text-decoration: none;
}

.custom-btn-green:active {
  background: #eddee0;
  color: #00401F;
  text-decoration: none;
}

.custom-btn-green:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
}

//Carousel in dog show views
.carousel-inner {
  height: 550px;
}

.carousel-item, .carousel-item img {
  height: 550px;
  width:100%;
}

.carousel-item img {
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .carousel-inner {
  height: 300px;
}

.carousel-item, .carousel-item img {
  height: 300px;
  width:100%
}

.carousel-item img {
  object-fit: cover;
}
}

// Attachments input on new dog form partial
.custom-attachments {
  border-radius: 5px;
  height: 2.5rem;
  border: solid, 1px, rgb(236, 230, 230);
}

//dog cards on dog indexes
.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.copyright {
  font-size: 0.8rem;
}