/**
* Custom Styling
* -----------------------------------------------------------------------------
* [NOTE] Please avoid writing custom css if you can help it! 
* Prefer to use the Bootstrap utility classes to override styles or follow
* the theme.
* -----------------------------------------------------------------------------
*/

@media (max-width: 1199px) {
  .pet-list-table {
    display: none; /* Hide the table layout on smaller screens */
  }
}

@media (min-width: 1200px) {
  .pet-list-cards {
    display: none; /* Hide the card layout on larger screens */
  }
}

label.required:after {
  content: " *";
}

// This class is intended to be used in conjunction with dropdown_controller.js
// to avoid theme default dropdown behaviors (hover-open in desktop view).
.aria-dropdown-menu {
  display: block;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--geeks-dropdown-shadow);
  color: var(--geeks-gray-800);
  font-size: 0.875rem;
  line-height: 1.2rem;
  margin: 1.125rem 0;
  min-width: 12rem;
  padding: 1rem 0;
  top: 28px;
}
