<div id="<%= dom_id checklist_item %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= checklist_item.description %>
  </p>

  <p>
    <strong>Input type:</strong>
    <%= checklist_item.input_type %>
  </p>

</div>
