<h1>Editing checklist template item</h1>

<%= render "form", checklist_item: @checklist_item %>

<br>

<div>
  <%= link_to "Show this checklist item", @checklist_item %> |
  <%= link_to "Back to checklist items", checklist_template_items_path %>
</div>
