<%= render DashboardPageComponent.new(crumb: :adopters) do |c| %>
  <% c.with_header_title { t(:adopters) } %>
  <% c.with_body do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "adopter_table", locals: { adopter_accounts: @adopter_accounts} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "adopter_cards", collection: @adopter_accounts, as: :adopter %>
      </div>
    </div>
  <% end %>
<% end %>
