<%= render DashboardPageComponent.new(crumb: :organization_profile) do |c| %>
  <% c.with_header_title { "Profile Details" } %>
  <% c.with_header_subtitle { "Manage your profile details" } %>
  <% c.with_body do %>
    <section id="account_select">
      <div>
        <div>
          <%= render "form", profile: @organization_profile %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
