<div class="card">
  <% if current_page?(adoption_application_reviews_path) %>
    <div class="card-header">
      <h4 class="mb-0"><%= link_to pet.name, pet_path(pet), class: "link-underline link-underline-opacity-0" %></h4>
    </div>
  <% end %>
  <div class="card-body">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Applicant</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
        <% applications.each do |app|%>
          <%= render 'organizations/pets/tabs/partials/application_status', app: app %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
