<div class="mb-4">
  <%= render "components/attachment_form", instance: @pet, title: 'Photos', url: attach_images_pet_path(@pet), attachment_type: 'images' %>
  <%= render "components/image_attachment_table", images: @pet.images %>
</div>
