<%= render DashboardPageComponent.new(crumb: :fosterers) do |c| %>
  <% c.with_header_title { "Fosterers" } %>
  <% c.with_action do %>
    <div class='d-flex align-items-center gap-2'>
      <%= link_to t(:invite_fosterer), new_staff_fosterer_invitation_path, class: "btn btn-primary" %><br>
    </div>
  <% end %>
  <% c.with_body do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- Table layout -->
      <div class="d-none d-xl-block">
        <%= render partial: "fosterer_table", locals: { fosterer_accounts: @fosterer_accounts} %>
      </div>
      <!-- Card-based layout -->
      <div class="d-xl-none d-flex flex-wrap">
        <%= render partial: "fosterer_cards", collection: @fosterer_accounts, as: :fosterer %>
      </div>
    </div>
  <% end %>
<% end %>
