<section class="pt-5 pb-5">
  <div class="container mb-md-5 mt-md-5 ">
    <div class="container mb-md-5 mt-md-5">
      <div class="text-center mb-5">
        <h1 class="section-heading text-uppercase underline">
          <%= t('feedback.new.header') %>
        </h1>
      </div>
    </div>

    <div class='mb-3 text-center bigger'>
      <%= t('feedback.new.description') %>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto card p-5">
        <%= render 'form', contact: @contact %>
      </div>
    </div>
  </div>
</section>