<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> has sent you the following message:</h1>
    <p>
      <strong><%= @message %></strong>
    </p>
    <p>
      You can reply to their email address: 
      <a href="mailto:<%= @email %>"><%= @email %></a>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>