<%= render DashboardPageComponent.new(crumb: :page_text) do |c| %>
  <% c.with_header_title { "Page Text" } %>
  <% c.with_header_subtitle { "Edit your page" } %>
  <% c.with_body do %>
    <section id="account_select">
      <div>
        <div>
          <%= render "form", page_text: @page_text %>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
